* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 200px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

.flex-container {
  height: 400px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.item8 {
  order:-7
}

.item5 {
  order: -4
}


/* Add your code here */
